@using api_tienda.Models;
<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="CodePixar">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Shop</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
    CSS
    ============================================= -->
    @Styles.Render("~/Content/css/linearicons.css")
    @Styles.Render("~/Content/css/font-awesome.min.css")
    @Styles.Render("~/Content/css/nice-select.css")
    @Styles.Render("~/Content/css/ion.rangeSlider.css")
    @Styles.Render("~/Content/css/ion.rangeSlider.skinFlat.css")
    @Styles.Render("~/Content/css/bootstrap.css")
    @Styles.Render("~/Content/css/main.css")
    @Styles.Render("~/Content/css/custom/alertModal.css")
    @Styles.Render("~/Content/css/custom/home.css")
</head>
<body>

    <!-- start banner Area -->
    <section class="banner-area relative" id="home">
        <div class="container-fluid">
            <div class="row fullscreen align-items-center justify-content-center">
                <div class="col-lg-6 col-md-12 d-flex align-self-end img-right no-padding">
                    <img class="img-fluid" src="~/Content/img/header-img.png" alt="">
                </div>
                <div class="banner-content col-lg-6 col-md-12">
                    <h1 class="title-top"><span>Obtén hasta un</span> 75% de dcto.</h1>
                    <h1 class="text-uppercase">
                        Apresurate<br>
                        Son Ofertas de temporada!
                    </h1>
                    <button class="primary-btn text-uppercase"><a href="#">Comprar Ahora</a></button>
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->
    <!-- Start category Area -->
    <section class="category-area section-gap section-gap" id="catagory">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-40">
                    <div class="title text-center">
                        <h1 class="mb-10">Compra en Nuestras Distintas Categorías</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-8 mb-10">
                    <div class="row category-bottom">
                        <div class="col-lg-6 col-md-6 mb-30">
                            <div class="content">
                                <a href="#" target="_blank">
                                    <div class="content-overlay"></div>
                                    <img class="content-image img-fluid d-block mx-auto" src="~/Content/img/c1.jpg" alt="">
                                    <div class="content-details fadeIn-bottom">
                                        <h3 class="content-title">Productos Para Mujer</h3>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 mb-30">
                            <div class="content">
                                <a href="#" target="_blank">
                                    <div class="content-overlay"></div>
                                    <img class="content-image img-fluid d-block mx-auto" src="~/Content/img/c2.jpg" alt="">
                                    <div class="content-details fadeIn-bottom">
                                        <h3 class="content-title">Productos Para Parejas</h3>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="content">
                                <a href="#" target="_blank">
                                    <div class="content-overlay"></div>
                                    <img class="content-image img-fluid d-block mx-auto" src="~/Content/img-electronica/productos-electronicos.jpg" alt="">
                                    <div class="content-details fadeIn-bottom">
                                        <h3 class="content-title">Productos Electrónicos</h3>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 mb-10">
                    <div class="content">
                        <a href="#" target="_blank">
                            <div class="content-overlay"></div>
                            <img class="content-image img-fluid d-block mx-auto" src="~/Content/img/c4.jpg" alt="">
                            <div class="content-details fadeIn-bottom">
                                <h3 class="content-title">Productos Para Hombre</h3>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End category Area -->
    <!-- Start men-product Area -->
    @if (ViewBag.prodHombre.Count > 0)
    {
        <section class="men-product-area section-gap relative" id="men">
            <div class="overlay overlay-bg"></div>
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="menu-content pb-40">
                        <div class="title text-center">
                            <h1 class="text-white mb-10">Nuevos Productos Para Hombre</h1>
                            <p class="text-white">Todos cuentan con entrega en tienda o despacho a domicilio.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    @foreach (var producto in ViewBag.prodHombre)
                    {

                        <div class="col-lg-3 col-md-6 single-product">
                            <div class="content">
                                <div class="content-overlay"></div>
                                @{
                                    var imgs = new List<ImagenesProducto>(producto.Imagenes);
                                    if (imgs.Count > 0)
                                    {
                                        ImagenesProducto img = imgs.Where(s => s.predeterminada == true).FirstOrDefault();
                                        <img id="img-@img.Id" class="content-image img-fluid d-block mx-auto" src="@Url.Content(img.Ubicacion)" alt="">

                                        <div class="content-details fadeIn-bottom">
                                            <div class="bottom d-flex align-items-center justify-content-center">
                                                <!-- <a href="#"><span class="lnr lnr-heart"></span></a> -->
                                                <!-- <a href="#"><span class="lnr lnr-layers"></span></a> -->
                                                <a onclick="agregarProducto(@producto.Id,1)"><span class="lnr lnr-cart"></span></a>
                                                <a onclick="preView(@img.Id, @producto.Id)"><span class="lnr lnr-frame-expand"></span></a>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                            <div class="price">
                                @{
                                    <h5 class="text-white">@producto.Nombre</h5>
                                    <h3 class="text-white">$ @producto.Precio</h3>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        </section>
    }
    <!-- End men-product Area -->
    <!-- Start women-product Area -->
    @if (ViewBag.prodMujer.Count > 0)
    {
        <section class="women-product-area section-gap" id="women">
            <div class="container">
                <div class="countdown-content pb-40">
                    <div class="title text-center">
                        <h1 class="mb-10">Nuevos Productos Para Mujer</h1>
                        <p>Todos cuentan con entrega en tienda o despacho a domicilio.</p>
                    </div>
                </div>
                <div class="row">
                    @foreach (var producto in ViewBag.prodMujer)
                    {

                        <div class="col-lg-3 col-md-6 single-product">
                            <div class="content">
                                <div class="content-overlay"></div>
                                @{
                                    var imgs = new List<ImagenesProducto>(producto.Imagenes);
                                    if (imgs.Count > 0)
                                    {
                                        ImagenesProducto img = imgs.Where(s => s.predeterminada == true).FirstOrDefault();
                                        <img id="img-@img.Id" class="content-image img-fluid d-block mx-auto" src="@Url.Content(img.Ubicacion)" alt="">


                                        <div class="content-details fadeIn-bottom">
                                            <div class="bottom d-flex align-items-center justify-content-center">
                                                <!-- <a href="#"><span class="lnr lnr-heart"></span></a> -->
                                                <!-- <a href="#"><span class="lnr lnr-layers"></span></a> -->
                                                <a onclick="agregarProducto(@producto.Id,1)"><span class="lnr lnr-cart"></span></a>
                                                <a onclick="preView(@img.Id, @producto.Id)"><span class="lnr lnr-frame-expand"></span></a>
                                            </div>
                                        </div>
                                        }
                                    }
                            </div>
                            <div class="price">
                                <h5>@producto.Nombre</h5>
                                <h3>$ @producto.Precio</h3>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </section>
    }
    <!-- End women-product Area -->
    <!-- Start electrónic-product Area -->
    @if (ViewBag.prodUnisex.Count > 0)
    {
        <section class="women-product-area section-gap" id="unisex">
            <div class="container">
                <div class="countdown-content pb-40">
                    <div class="title text-center">
                        <h1 class="mb-10">Nueva Ropa Unisex</h1>
                        <p>Todos cuentan con entrega en tienda o despacho a domicilio.</p>
                    </div>
                </div>
                <div class="row">
                    @foreach (var producto in ViewBag.prodUnisex)
                    {

                        <div class="col-lg-3 col-md-6 single-product">
                            <div class="content">
                                <div class="content-overlay"></div>
                                @{
                                    var imgs = new List<ImagenesProducto>(producto.Imagenes);
                                    if (imgs.Count > 0)
                                    {
                                        ImagenesProducto img = imgs.Where(s => s.predeterminada == true).FirstOrDefault();
                                        <img id="img-@img.Id" class="content-image img-fluid d-block mx-auto" src="@Url.Content(img.Ubicacion)" alt="">

                                        <div class="content-details fadeIn-bottom">
                                            <div class="bottom d-flex align-items-center justify-content-center">
                                                <!-- <a href="#"><span class="lnr lnr-heart"></span></a> -->
                                                <!-- <a href="#"><span class="lnr lnr-layers"></span></a> -->
                                                <a onclick="agregarProducto(@producto.Id,1)"><span class="lnr lnr-cart"></span></a>
                                                <a onclick="preView(@img.Id, @producto.Id)"><span class="lnr lnr-frame-expand"></span></a>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                            <div class="price">
                                <h5>@producto.Nombre</h5>
                                <h3>$ @producto.Precio</h3>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </section>
    }
    <!-- End women-product Area -->
    <!-- Start Count Down Area -->
    <div class="countdown-area">
        <div class="container">
            <div class="countdown-content">
                <div class="title text-center">
                    <h1 class="mb-10">Exclusive Hot Deal Ends in:</h1>
                    <p>Who are in extremely love with eco friendly system.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4"></div>
                <div class="col-xl-6 col-lg-7">
                    <div class="countdown d-flex justify-content-center justify-content-md-end" id="js-countdown">
                        <div class="countdown-item">
                            <div class="countdown-timer js-countdown-days time" aria-labelledby="day-countdown">
                            </div>
                            <div class="countdown-label" id="day-countdown">Days</div>
                        </div>
                        <div class="countdown-item">
                            <div class="countdown-timer js-countdown-hours" aria-labelledby="hour-countdown">
                            </div>
                            <div class="countdown-label" id="hour-countdown">Hours</div>
                        </div>
                        <div class="countdown-item">
                            <div class="countdown-timer js-countdown-minutes" aria-labelledby="minute-countdown">
                            </div>
                            <div class="countdown-label" id="minute-countdown">Minutes</div>
                        </div>
                        <div class="countdown-item">
                            <div class="countdown-timer js-countdown-seconds" aria-labelledby="second-countdown">
                            </div>
                            <div class="countdown-label text" id="second-countdown">Seconds</div>
                        </div>
                        <a href="#" class="view-btn primary-btn2"><span>Shop Now</span></a>
                        <img src="~/Content/img/cd.png" class="img-fluid cd-img" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Count Down Area -->
    <!-- Start related-product Area -->
    @if (ViewBag.masVendidos.Count > 0)
    {
        <section class="related-product-area section-gap" id="latest">
            <div class="container">
                <div class="related-content">
                    <div class="title text-center">
                        <h1 class="mb-10">Algunos de los productos más vendidos</h1>
                        <p>Puede que te interecen ya que muchos los han preferido.</p>
                    </div>
                </div>
                <div class="row">
                    @foreach (var orden in ViewBag.masVendidos)
                    {
                        <div class="col-lg-3 col-md-4 col-sm-6 mb-20">
                            <div class="single-related-product d-flex">
                                @{
                                    var imgs = new List<ImagenesProducto>(orden.Producto.Imagenes);
                                    if (imgs.Count > 0)
                                    {
                                        ImagenesProducto img = imgs.Where(s => s.predeterminada == true).FirstOrDefault();
                                        <a id="img-@img.Id" href="#"><img src="@Url.Content(img.Ubicacion)" alt=""></a>
                                        
                                        <div class="desc">
                                            <a href="#" class="title">producto.Nombre</a>
                                            <div class="price"><span class="lnr lnr-tag"></span> $ @orden.Producto.Precio</div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        </section>
    }
    <!-- End related-product Area -->
    <!-- Start brand Area -->
    <section class="brand-area pb-100">
        <div class="container">
            <div class="row logo-wrap">
                <a class="col single-img" href="#">
                    <img class="d-block mx-auto" src="~/Content/img/br1.png" alt="">
                </a>
                <a class="col single-img" href="#">
                    <img class="d-block mx-auto" src="~/Content/img/br2.png" alt="">
                </a>
                <a class="col single-img" href="#">
                    <img class="d-block mx-auto" src="~/Content/img/br3.png" alt="">
                </a>
                <a class="col single-img" href="#">
                    <img class="d-block mx-auto" src="~/Content/img/br4.png" alt="">
                </a>
                <a class="col single-img" href="#">
                    <img class="d-block mx-auto" src="~/Content/img/br5.png" alt="">
                </a>
            </div>
        </div>
    </section>
    <!-- End brand Area -->

    <div id="preview-item" class="preview-item">
        <div class="form-group">
            <div class="img-preview col-md-6">
                <img id="img-preview" class="content-image img-fluid d-block mx-auto" src="#" alt="">
            </div>
            <div class="descrition-container col-md-6">
                <h2 id="marca-item"></h2>
                <h3 id="nombre-item"></h3>
                <div id="descripcion-item"></div>
                <div id="color-item"></div>
                <br />
                <div class="fotm-group row">
                    <h3 class="col-md-5">Precio Anterior</h3>
                    <h3 class="col-md-3" id="precio-anterior-item"></h3>
                </div>
                <br />
                <div class="fotm-group row">
                    <h3 class="col-md-5">Precio Actual</h3>
                    <h3 class="col-md-3" id="precio-actual-item"></h3>
                </div>
                <br />
                <div class="fotm-group row">
                    <div class="col-md-4">
                        <button id="btnAgregarProducto" class="btn btn-primary">Agregar al carrito  <span class="lnr lnr-cart"></span></button>
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <button id="btnCerrarModal" class="btn btn-danger">Cerrar <span class="lnr lnr-cross"></span></button>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>


    @Html.Partial("~/Views/Shared/_PartialAlertModal.cshtml")

    @Scripts.Render("~/Scripts/js/vendor/jquery-2.2.4.min.js")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    @Scripts.Render("~/Scripts/js/vendor/bootstrap.min.js")
    @Scripts.Render("~/Scripts/js/jquery.ajaxchimp.min.js")
    @Scripts.Render("~/Scripts/js/jquery.nice-select.min.js")
    @Scripts.Render("~/Scripts/js/jquery.sticky.js")
    @Scripts.Render("~/Scripts/js/ion.rangeSlider.js")
    @Scripts.Render("~/Scripts/js/jquery.magnific-popup.min.js")
    @Scripts.Render("~/Scripts/js/owl.carousel.min.js")
    @Scripts.Render("~/Scripts/js/main.js")

    @Scripts.Render("~/Scripts/tienda/tienda.js")
    
    @Scripts.Render("~/Scripts/tienda/home.js")

</body>
</html>