@using api_tienda.Models;
@using tiendaAPI_MVC.Models;

@Styles.Render("~/Content/css/linearicons.css")
@Styles.Render("~/Content/css/owl.carousel.css")
@Styles.Render("~/Content/css/font-awesome.min.css")
@Styles.Render("~/Content/css/nice-select.css")
@Styles.Render("~/Content/css/ion.rangeSlider.css")
@Styles.Render("~/Content/css/ion.rangeSlider.skinFlat.css")
@Styles.Render("~/Content/css/bootstrap.css")
@Styles.Render("~/Content/css/main.css")
@Styles.Render("~/Content/css/custom/successWebPay.css")
@{
    decimal total = 0;
}
<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Boleta <small>Some examples to get you started</small></h3>
            </div>
            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Boleta de venta <small>Para finalizar descargue o imprima éste documento</small></h2>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">
                        <section class="content invoice">
                            <!-- title row -->
                            <div class="row">
                                <div class="col-xs-12 invoice-header">
                                    <h1>
                                        <i class="fa fa-globe"></i> Boleta.
                                        <small class="pull-right">Fecha: @DateTime.Now.ToString("M/dd/yyyy")</small>
                                    </h1>
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- info row -->
                            <div class="row invoice-info">
                                <div class="col-sm-4 invoice-col">
                                    Tienda C#
                                    <address>
                                        <strong>Tienda C# Ltda.</strong>
                                        <br>1 Sur 3 Oriente
                                        <br>Talca, N° 1234
                                        <br>Phone: 71234567
                                        <br>Email: tienda-c-sharp@ejemplo.com
                                    </address>
                                </div>
                                <!-- /.col -->
                                <div class="col-sm-4 invoice-col">

                                    <address>
                                        <strong>@ViewBag.usuario.Nombre @ViewBag.usuario.APaterno @ViewBag.usuario.AMaterno</strong>
                                        <br>@ViewBag.usuario.Direccion
                                        <br>@ViewBag.usuario.Ciudad.Nombre
                                        <br>Phone: @ViewBag.usuario.fono
                                        <br>Email: @ViewBag.usuario.Email
                                    </address>
                                </div>
                                <!-- /.col -->
                                <div class="col-sm-4 invoice-col">
                                    <b>Boleta @ViewBag.NumFactura</b>
                                    <br>
                                    <b>Fecha de pago:</b> @DateTime.Now.ToString("M/dd/yyyy")
                                    
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                            <!-- Table row -->
                            <div class="row">
                                <div class="col-xs-12 table">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Producto</th>
                                                <th style="width: 30%">Descripción</th>
                                                <th>Cantidad</th>
                                                <th>Precio Unitario</th>
                                                <th>Subtotal</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @{
                                                decimal subTotal = 0;
                                                foreach (System.Collections.Generic.KeyValuePair<string, ItemCarrito> item in Model)
                                                {
                                                    subTotal = item.Value.cantidad * item.Value.producto.Precio;
                                                    total += subTotal;
                                                    <tr>
                                                        <td>@item.Value.producto.Nombre</td>
                                                        <td>@item.Value.producto.Descripcion</td>
                                                        <td>@item.Value.cantidad</td>
                                                        <td>@item.Value.producto.Precio</td>
                                                        <td>$@subTotal.ToString("###.###.###")</td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                            <div class="row">
                                <!-- accepted payments column -->
                                <div class="col-xs-6">                                    
                                    <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
                                        Su compra ha sido completada exitosamente. Para finalizar seleccione <spam><a href="#">Imprimir</a></spam> o <spam><a href="#">Enviarme comprobante por email</a></spam> para obtener el comprobante de ésta transacción.
                                    </p>
                                </div>
                                <!-- /.col -->
                                <div class="col-xs-6">
                                    <p class="lead">Fecha de la transacción @DateTime.Now.ToString("M/dd/yyyy")</p>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <th style="width:50%">Subtotal:</th>
                                                    <td>$@total.ToString("###.###.###")</td>
                                                </tr>
                                                <tr>
                                                    <th>Envío:</th>
                                                    <td>$1</td>
                                                </tr>
                                                <tr>
                                                    <th>Total:</th>
                                                    @{
                                                        total += 1;
                                                        <td>$@total.ToString("###.###.###.###")</td>
                                                    }
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                            <!-- this row will not appear when printing -->
                            <div class="row no-print">
                                <div class="col-xs-12">
                                    <button class="btn btn-default" onclick="window.print();"><i class="fa fa-print"></i> Imprimir</button>
                                    <button class="btn btn-success pull-right"><i class="fa fa-credit-card"></i> <a href="http://localhost:4529/SuccessWebPay/EnviarCorreoVenta">Enviarme el comprobante por email</a></button>
                                </div>
                            </div>
                        </section>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->

@Scripts.Render("~/Scripts/js/vendor/jquery-2.2.4.min.js")
<script type="text/javascript" https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
@Scripts.Render("~/Scripts/js/vendor/bootstrap.min.js")
@Scripts.Render("~/Scripts/js/jquery.ajaxchimp.min.js")
@Scripts.Render("~/Scripts/js/jquery.nice-select.min.js")
@Scripts.Render("~/Scripts/js/jquery.sticky.js")
@Scripts.Render("~/Scripts/js/ion.rangeSlider.js")
@Scripts.Render("~/Scripts/js/jquery.magnific-popup.min.js")
@Scripts.Render("~/Scripts/js/owl.carousel.min.js")
@Scripts.Render("~/Scripts/js/main.js")  